.breadcrumbs {
  padding-top: 20px;
  background-color: $white;
  font-weight: 500;
  font-size: 16px;

  a.breadcrumbs__item {
    color: $ff-918-b-main;
    cursor: pointer;

    &:hover {
      color: $black-50;
    }

    &.active {
      color: $black-50;
    }
  }
}

.container.container--catalog {

  @media (max-width: 1100px) {
    .breadcrumbs {
      padding: 20px 14px 0 14px;
    }

    .content {
      padding: 0 14px;
    }
  }
}

.catalog-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;

  @media (max-width: 769px) {
    margin-top: 30px;
  }

  .price-tooltip-container {
    display: none;
  }
}

.catalog-filter {
  position: relative;
  z-index: 10;
  width: 240px;
  border: 1px solid $pale-grey-two;
  border-radius: 8px;
  overflow: hidden;

  @media (max-width: 900px) {
    width: 210px;
  }

  &-title {
    padding: 0 20px;
    margin-bottom: 30px;

    @media (max-width: 900px) {
      padding: 0 12px;
    }
  }

  &-sub-title {
    @include TitleH4-Sobsection();
    margin-bottom: 0;
  }

  &-head {
    padding: 0 20px 30px 20px;
    border-bottom: 1px solid $bordurs;

    @media (max-width: 900px) {
      padding: 0 12px 30px 12px;
    }

    .filter-price {
      margin-top: 20px;
    }

    .filter-price-input-values {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      font-size: 16px;
    }

    .filter-price-input {
      width: 85px;
      height: 40px;
      text-align: center;
      padding: 0 10px;
      border-radius: 8px;
      border: solid 1px $pale-grey-two;
    }
  }
}

.catalog {
  width: calc(100% - 240px);
  padding-left: 45px;

  @media (max-width: 900px) {
    width: calc(100% - 210px);
    padding-left: 20px;
  }

  .order-filter {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 16px;
    margin-bottom: 15px;
    height: 30px;

    &__item {
      display: block;
      height: 24px;
      color: $black-50;
      font-weight: 500;
      line-height: 24px;
      margin-right: 22px;
      cursor: pointer;

      span {
        margin-right: 0px;
      }

      &.up svg {
        transform: rotate(180deg);
      }

      svg path {
        fill: $black-50;
      }

      &.active {
        font-weight: bold;
        color: $ff-918-b-main;

        svg path {
          fill: $ff-918-b-main;
        }
      }

      &:hover {
        font-weight: bold;
        color: $black;

        svg path {
          fill: $black;
        }
      }
    }
  }
}

.catalog-title {
  @include TitleH1-Heading;
  margin-bottom: 30px;
}

.catalog-sub-title {
  @include TitleH3-Section;
  margin-bottom: 20px;
}

.catalog-popular-categories {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;

  .popular-categories-item {
    border: solid 1px $pale-grey-two;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 10px;
    word-break: keep-all;
    word-wrap: unset;

    &.button:hover {
      border-color: $ff-918-b-main;
    }
  }

  .more-categories {
    height: 48px;
    width: 50px;
    border-radius: 9px;
    border: none;
    background-color: $ff-918-b-main;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      display: block;
    }
  }
}

.catalog-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-right: -50px;
  margin-bottom: -60px;

  @media (max-width: 1700px) {
    width: 100%;
  }
}

.filter-lists {
  position: relative;

  .simplebar-track {
    right: 15px;
  }

  .simplebar-scrollbar {
    width: 4px;

    &:before {
      background-color: $bordurs;
      border-radius: 5px;
    }
  }
}

.rolling-list {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  background-color: $white;
  font-size: 16px;
  color: $black;
  z-index: 1;

  &:not(:last-child) {
    border-bottom: 1px solid $bordurs;
  }

  &__list {
    width: 100%;
    height: 0;
    max-height: 260px;
    margin: 0;
    padding: 0 20px;
    list-style: none;
    background-color: $white;
    z-index: -1;

    @media (max-width: 900px) {
      padding: 0 12px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #fff;
      z-index: -1;
    }
  }

  &__chevron {
    transition: .15s $easeOutCubic;
    transform: scaleY(1);
  }

  &__title {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 30px 20px;
    background-color: $white;
    border: none;
    outline: none;
    color: #666;
    cursor: pointer;
    z-index: 2;

    @media (max-width: 900px) {
      padding: 30px 12px;
    }

    &:focus,
    &:active,
    &:hover {
      outline: none;
    }

    & > * {
      user-select: none;
      pointer-events: none;
    }

    &.active {
      transition: .5s #{$easeOutCubic} .15s;

      .rolling-list__chevron {
        transform: scale(-1);
      }
    }

    span {
      width: calc(100% - 30px);
    }

    img {
      z-index: 1;
    }
  }

  &__item {
    display: block;
    margin-bottom: 18px;

    &:hover,
    &.active {
      color: red;
      cursor: pointer;
    }

    &:last-child {
      margin-bottom: 30px;
    }
  }
}

.filter-show-button-dynamic-label {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 295px;
  height: 82px;
  padding: 16px 30px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: $fd-7169-main-text;
  color: $white;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  z-index: 1000;
}

.filter-show-button-dynamic {
  width: 115px;
  height: 50px;
  background-color: $white;
  color: $fd-7169-main-text;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 6px;
}

.filter-lists-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  & > * {
    width: calc((100% - 10px) / 2);
  }
}

.product-card {
  position: relative;
  width: 240px;
  margin-right: 50px;
  margin-bottom: 60px;

  @media (max-width: 1700px) {
    margin-right: 30px;
  }

  @media (max-width: 900px) {
    margin-right: 20px;

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  & > * {
    position: relative;
    z-index: 2;
  }

  &:before {
    content: '';
    display: none;
    position: absolute;
    z-index: 0;
    top: -16px;
    left: -30px;
    width: calc(100% + 60px);
    height: calc(100% + 116px);
    border-radius: 10px;
    border: 2px solid #f2f2f2;
    box-shadow: 0 45px 22px -30px rgba(202, 199, 199, 0.32);
    background-color: white;
  }

  &:hover {
    z-index: 10;

    &:before {
      display: block;
    }

    .product-card__fast-view,
    .product-card__to-cart {
      display: block;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
    fill: $ff-918-b-main;

    &[data-card-rate="1"] .rate-star {
      &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
        .fill {
          fill-opacity: 0;
        }
      }
    }

    &[data-card-rate="2"] .rate-star {
      &:nth-child(3), &:nth-child(4), &:nth-child(5) {
        .fill {
          fill-opacity: 0;
        }
      }
    }

    &[data-card-rate="3"] .rate-star {
      &:nth-child(4), &:nth-child(5) {
        .fill {
          fill-opacity: 0;
        }
      }
    }

    &[data-card-rate="4"] .rate-star {
      &:nth-child(5) {
        .fill {
          fill-opacity: 0;
        }
      }
    }
  }

  &__stars {
    width: 88px;
    height: 16px;
    margin-right: 8px;
  }

  &__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    margin-bottom: 13px;
    background-color: $light-grey;
    overflow: hidden;
    z-index: 1;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__labels {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 2;

    .labels__item {
      position: relative;
      box-sizing: border-box;
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.5;
      color: $white;
      background-color: $ff-918-b-main;
      border-top-right-radius: 22px;
      border-bottom-right-radius: 22px;
      margin-bottom: 6px;
      padding: 5px 22px 5px 16px;
      z-index: 10;

      &--new {
        background-color: $light-peach;
      }

      &--popular {
        background-color: #bac5fa;
      }

      &--percent {
        background-color: #f9c067;
      }

      &--promo {
        background-color: #85e6e1;
      }
    }
  }

  &__favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 10;

    &.active .fillable {
      fill-opacity: 1;
    }

    .fillable {
      fill-opacity: 0;
      fill: $ff-918-b-main;
    }
  }

  &__fast-view {
    display: none;
    width: 180px;
    height: 37px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    padding: 9px 0 12px;
    background-color: rgba(255, 255, 255, 0.85);
    border: none;
    border-radius: 6px;
    position: absolute;
    bottom: 7px;
    left: calc(50% - (180px / 2));
    transition: 0.15s $easeOutCubic;
    outline: none;

    &:focus,
    &:active,
    &:hover {
      outline: none;
    }

    &:hover {
      background-color: $white;
    }
  }

  &__title {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
  }

  &__prices {
    width: 100%;
    border: none;
    font-size: 14px;
    line-height: 24px;

    .prices__item {
      a {
        color: $fd-7169-main-text;
      }

      &_title {
        font-weight: 300;
      }

      &_price {
        font-size: 16px;
        font-weight: bold;
        margin-right: 8px;
        text-align: right;
      }

      &_condition {
        font-weight: 500;
        color: lighten($black, 50%);
        text-align: right;
      }
    }
  }

  &__to-cart {
    position: absolute;
    display: none;
    width: 100%;
    margin-top: 20px;
    z-index: 1;
  }
}

.modal-fast-product-view {
  display: none;
  width: 1190px;
  justify-content: flex-start;

  .product-card__rating {
    margin-bottom: 20px;
  }

  .product-card__reviews {
    font-size: 12px;
    color: $black-50;
  }

  .product-view__art-num {
    font-size: 14px;
    color: $black-50;
    margin-left: 30px;
  }

  .product-view-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .product-view {

    &__description {
      font-weight: 500;
    }

    &__image {
      width: 540px;
      height: 540px;
      background-color: $light-grey-2;
      margin-right: 40px;

      img {
        width: 100%;
        height: auto;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: calc(100% - 580px);
      height: 100%;
    }

    &__price-title {
      margin-bottom: 10px;
    }

    &__price-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 30px;

      & > * {
        width: calc(50% - 15px);
        flex: 0 0 calc(50% - 15px);
      }
    }

    &__controller {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      & > * {
        width: calc(50% - 30px);
        flex: 0 0 calc(50% - 30px)
      }
    }
  }
}

.price-tooltip {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  margin-left: 10px;
  border: 1px solid $ff-918-b-main;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}

.promo-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .code-input {
    width: 150px;
    height: 40px;
    line-height: 40px;
    border-radius: 8px;
    background-color: rgba(250, 194, 186, 0.2);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 0 16px;
    margin: 0;
    letter-spacing: 0.7px;
    color: $fd-7169-main-text;
  }

  .copy-code-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    margin-left: 15px;
    outline: none;

    &:focus,
    &:active,
    &:hover {
      outline: none;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}