.container.container--index {
  .content {
    margin-top: 40px;
    padding-left: 14px;
    margin-bottom: 40px;
    @media (min-width: 1100px) {
      margin-top: -200px;
      padding: 0;
    }
    @media (min-width: 769px) and (max-width: 1099px) {
      margin-top: -318px;
      padding-left: 14px;
      padding-right: 14px;
    }
    @media (max-width: 768px) {
      margin-top: 5px;
    }

    &-categoriesTizers {
      padding-bottom: 26px;
      text-align: justify;
      position: relative;

      @media (max-width: 768px) {
        padding-bottom: 0px;
        margin-left: -14px;
      }

      &-wrapper {
        display: flex;
        justify-content: space-between;
        @media (min-width: 769px) {
          max-width: 768px;
          margin: 0 auto;
        }
        @media (min-width: 992px) {
          max-width: 992px;
          margin: 0 auto;
          padding-left: 0;
        }
        @media (min-width: 1100px) {
          margin: 0;
          max-width: 1100px;
        }
        @media (max-width: 768px) {
          padding-left: 14px;
        }

        &-inner {
          display: flex;
        }
      }

      &-item {
        width: 138px;
        height: 160px;
        border-radius: 9px;
        border: solid 1px #dedfe5;
        margin-right: 10px;
        display: flex;
        @media (min-width: 769px) {
          height: 90px;
          width: 220px;
          &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
        }
        @media (min-width: 1100px) {
          width: 240px;
          margin-right: 20px;
        }
        @media (min-width: 769px) and (max-width: 797px) {
          width: 210px;
        }
        @media (max-width: 768px) {
          flex-direction: column;
        }

        &:hover {
          box-shadow: 0 45px 22px -30px rgba(202, 199, 199, 0.32);
        }

        &-title {
          font-family: Gilroy, sans-serif;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: $black;
          position: absolute;
          bottom: 48px;
          text-align: left;
          width: 100%;
          @media (min-width: 769px) {
            position: static;
            margin: 0;
            float: left;
          }
          @media (max-width: 768px) {
            position: relative;
            bottom: auto;
            text-align: center;
            padding: 0 10px;
            line-height: 17px;
            height: 25px;
          }
        }

        &-quantity {
          font-family: Gilroy, sans-serif;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: $black-50;
          position: absolute;
          bottom: 0px;
          width: 100%;
          @media (min-width: 769px) {
            position: static;
            margin: 0;
            float: left;
          }
          @media (max-width: 768px) {
            position: relative;
            text-align: center;
            font-size: 12px;
          }
        }

        img {
          display: block;
          margin: 0 12px 0 16px;
          left: 50%;
          @media (min-width: 769px) {
            float: left;
            left: 24px;
          }
          @media (max-width: 768px) {
            margin: 20px 0 12px 0;
            position: relative;
            left: 0;
          }
        }
      }


      &-collapseCategories {
        @media (max-width: 768px) {
          display: none;
        }
        width: 50px;
        height: 90px;
        border-radius: 9px;
        background-color: $ff-918-b-main;
        border: none;
      }

      &-collapseCategories:focus {
        outline: none;
      }

    }

    h2 {
      @include TitleH2-Title;
      margin-top: 20px;
    }

    .newProducts, .needTake, .forYou {
      margin-top: 30px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      position: relative;
      z-index: 11;

      &:hover {
        padding-bottom: 40px;
        margin-bottom: -40px;
      }

      @media (max-width: 1100px) {
        margin-top: 13px;
        margin-left: -14px;
        margin-right: -14px;
      }

      @media (max-width: 768px) {
        margin-right: 0;
        padding-bottom: 0;
        margin-bottom: 0px;

        .swiper-wrapper {
          padding-left: 14px;
        }
      }

      &-prev {
        display: none;
        @media (min-width: 769px) {
          display: block;
        }
        top: 50px;
        right: 90px;
        background-image: url("../../static/images/svg/iconset/ic-32-ex.svg");
        left: auto;
      }

      &-next {
        display: none;
        @media (min-width: 769px) {
          display: block;
        }
        top: 50px;
        right: 30px;
        background-image: url("../../static/images/svg/iconset/ic-32-next.svg");
      }

      &-item {
        padding: 30px;
        padding-top: 10px;
        border: solid 2px transparent;
        text-align: center;
        width: 268px;
        @media (max-width: 1100px) {
          padding: 14px;
          padding-top: 10px;
          padding-bottom: 20px;
        }
        @media (max-width: 768px) {
          margin-right: 2px;
          width: 230px;
          padding: 13px;
        }

        &:hover {
          @media(min-width: 478px) {
            border-radius: 10px;
            box-shadow: 0 45px 22px -30px rgba(202, 199, 199, 0.32);
            border: solid 2px #f2f2f2;
            background: #fff;
          }
        }

        &-lineLikes {
          text-align: left;

          @media (max-width: 768px) {
            margin-bottom: 4px;
          }

          &-stars {
            display: inline;
            cursor: pointer;
          }

          &-quantity {
            @include BodyMeta12;
            display: inline;
            margin-left: 5px;
          }
        }

        &-img {
          background-image: url("../../static/images/placeholders/51a0a9ef467a64565ea63a6f112703ba.jpg");
          width: 100%;
          height: 240px;
          padding-top: 10px;
          display: block;
          background-repeat: no-repeat;
          background-position: center;
          background-color: #f2f2f2;
          margin-bottom: 12px;

          @media (max-width: 768px) {
            height: 200px;
            margin-bottom: 3px;
          }

          &-badges {
            position: absolute;
            float: left;

            &-badge {
              width: 60px;
              height: 30px;
              border-radius: 0 100px 100px 0;
              font-family: Gilroy, sans-serif;
              font-size: 14px;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              line-height: 30px;
              letter-spacing: normal;
              text-align: center;
              color: $white;
              margin-bottom: 6px;

              &__new {
                background-color: $light-peach;
              }

              &__hit {
                background-color: $hit;
              }

              &__discount {
                background-color: $discount;
              }

              &__promo {
                width: 94px;
                background-color: $promo;
              }
            }
          }

          &-addWishlist {
            float: right;
            margin-right: 10px;
            margin-top: 2px;

          }
        }

        &-title {
          font-family: Gilroy, sans-serif;
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: normal;
          color: $black;
          text-align: left;
          margin-bottom: 41px;
          @media (max-width: 768px) {
            margin-bottom: 5px;
          }
        }

        &-prices {
          &-right {
            float: right;
            position: relative;
            display: flex;
            align-items: flex-end;

            @media (max-width: 768px) {
              flex-direction: column;
              align-items: flex-end;
            }
          }

          &-retail, &-wholesale, &-discover {
            &-title {
              font-family: Gilroy, sans-serif;
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 24px;
              letter-spacing: normal;
              color: $black-50;
              float: left;
              margin-bottom: 10px;
              @media (max-width: 768px) {
                padding-top: 5px;
              }
            }

            &-price {
              font-family: Gilroy, sans-serif;
              font-size: 16px;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              line-height: 24px;
              letter-spacing: normal;
              text-align: right;
              color: $black;
              margin-bottom: 0;
            }

            &-condition {
              font-family: Gilroy, sans-serif;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              text-align: right;
              color: $black-50;
              margin-bottom: 0;
              font-size: 14px;
              line-height: 24px;
              width: 80px;
              @media (max-width: 768px) {
                font-size: 12px;
                line-height: 1.17;
              }
            }

            clear: both;
            width: auto;
            height: 38px;
            display: block;
          }

          &-discover-price {
            color: $fd-7169-main-text;
          }
        }

        &-addToCart {
          width: 100%;
          height: 50px;
          margin-top: 20px;
          border-radius: 10px;
          border: solid 1px $ff-918-b-main;
          font-family: Gilroy, sans-serif;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: center;
          color: $black;
          background-color: $white;
          display: inline-block;
          opacity: 0;
          visibility: hidden;

          &:hover {
            background: $ff-918-b-main;
            color: #fff;
          }

          @media (max-width: 768px) {
            opacity: 1;
            visibility: visible;
            width: 160px;
            height: 38px;
          }
        }

        &:hover .newProducts-item-addToCart, &:hover .needTake-item-addToCart, &:hover .forYou-item-addToCart {
          visibility: visible;
          opacity: 1;
        }
      }

      &-title {
        margin-bottom: 15px;
        @media (max-width: 1100px) {
          margin-left: 14px;
          margin-right: 14px;
        }
        @media (max-width: 768px) {
          margin-left: 0;
          margin-right: 0;
          padding-left: 14px;
        }
      }
    }

    .stockTizers {
      margin-top: 30px;
      margin-bottom: 70px;

      @media (max-width: 1100px) {
        margin-bottom: 50px;
      }
      @media (max-width: 768px) {
        margin-top: 25px;
        margin-bottom: 0;
        margin-left: -14px;
      }

      .swiper-wrapper {
        padding-left: 14px;
      }

      &-item {
        display: block;
        border-radius: 10px;
        overflow: hidden;
        @media (max-width: 1100px) {
          width: 50%;
        }

        img {
          width: 100%;
        }

      }

    }

    .lastStock {
      margin-top: 0px;
      margin-bottom: 45px;

      @media (max-width: 1100px) {
        // margin-top: 20px;
      }

      @media (max-width: 768px) {
        // margin-top: 10px;
        margin-bottom: 0;
        margin-left: -14px;
      }

      &-title {
        margin-bottom: 30px;
        @media (max-width: 768px) {
          padding-left: 14px;
        }

        &-link {
          color: #fd7169;
          height: 24px;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: right;
          margin-bottom: 22px;
          @media (max-width: 1100px) {
            display: none;
          }
        }

        &-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
        }
      }

      &-wrapper {
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
          padding-left: 14px;
        }
      }

      &-item {
        width: 240px;

        &-img {
          border-radius: 10px;
          background-color: #fdd42d;
          text-align: center;

          &__lightBlue {
            background-color: #b8e2e0;
          }

          img {
            /**TODO хак**/
            //height: 120px;
            width: 100%;
          }
        }

        &-date {
          margin-top: 10px;
          margin-bottom: 2px;
          font-family: Gilroy, sans-serif;
          font-size: 14px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.71;
          letter-spacing: 0.2px;
          color: $black-50;
        }

        &-title {
          @include BodyBold-Body;
        }
      }

      &-prev {
        display: none;
        top: 50px;
        right: 90px;
        background-image: url("../../static/images/svg/iconset/ic-32-ex.svg");
        left: auto;
        @media (max-width: 1100px) {
          display: block;
        }
        @media (max-width: 768px) {
          display: none;
        }
      }

      &-next {
        display: none;
        top: 50px;
        right: 30px;
        background-image: url("../../static/images/svg/iconset/ic-32-next.svg");
        @media (max-width: 1100px) {
          display: block;
        }
        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    .brands {
      &-layout {
        position: relative;
      }

      &-prev {
        display: none;
        @media (min-width: 769px) {
          display: block;
        }
        top: 32px;
        right: 60px;
        background-image: url("../../static/images/svg/iconset/ic-32-ex.svg");
        left: auto;
      }

      &-next {
        display: none;
        @media (min-width: 769px) {
          display: block;
        }
        top: 32px;
        right: 0px;
        background-image: url("../../static/images/svg/iconset/ic-32-next.svg");
      }

      &.line2 {
        margin-top: 10px;
      }

      &.line1 {
        @media (min-width: 1100px) {
          position: absolute;
          left: 0;
          right: 0;
          margin-top: 10px;
          height: 260px;
          padding-top: 10px;
        }
        @media (max-width: 1100px) {
          margin-left: -14px;
          margin-right: -14px;
        }
        @media (max-width: 768px) {
          margin-right: 0;
        }
      }

      &.line2 {
        @media (min-width: 1648px) {
          position: absolute;
          left: 0;
          right: 0;
          margin-top: 160px;
          height: 260px;
          padding-top: 10px;
        }
      }

      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media (max-width: 1100px) {
          width: 240px
        }
        @media (max-width: 768px) {
          width: 130px
        }

        img {
          height: 100px;
          margin: 25px 0;
          object-fit: contain;
          @media (max-width: 768px) {
            height: 50px;
            margin: 5px 0;
          }
        }
      }
    }

    .bottomSlider {
      margin-top: 340px;
      @media (max-width: 1100px) {
        margin: 35px auto 0;
      }
      @media (max-width: 768px) {
        margin-left: -14px;
      }


      .swiper-pagination-bullet {
        margin: 0 10px !important;
        width: 8px;
        height: 8px;
        background-color: $light-grey-2;
        opacity: 1;

        @media (max-width: 1100px) {
          width: 6px;
          height: 6px;
          margin: 0 5px !important;
        }

        &-active {
          width: 12px;
          height: 12px;
          border: solid 2px $ff-918-b-main;
          background-color: $white;
          position: relative;
          top: 2px;

          @media (max-width: 1100px) {
            width: 10px;
            height: 10px;
          }

          &:focus {
            outline: none;
          }
        }
      }

      &-prev {
        width: 50px !important;
        height: 50px !important;
        left: 20px;
        border-radius: 50%;
        background-color: $white-80;
        background-image: url("../../static/images/svg/iconset/ic-32-ex.svg");
        @media (max-width: 768px) {
          display: none;
        }
        @media (min-width: 769px) and (max-width: 1099px) {
          left: -13px;
        }
      }

      &-next {
        width: 50px !important;
        height: 50px !important;
        right: 20px;
        border-radius: 50%;
        background-color: $white-80;
        background-image: url("../../static/images/svg/iconset/ic-32-next.svg");
        @media (max-width: 768px) {
          display: none;
        }
        @media (min-width: 769px) and (max-width: 1099px) {
          right: -13px;
        }
      }

      @media (min-width: 769px) {
        width: 740px;
        height: 242px;
        position: relative;
      }
      @media (min-width: 1100px) {
        width: 1100px;
        height: 360px;
        position: relative;
      }

      &-container {
        border-radius: 10px;

        @media (max-width: 768px) {
          border-radius: 0;
        }

        .swiper-wrapper {
          box-shadow: 0 31px 15px -20px rgba(202, 199, 199, 0.32);

        }

        &-item {

          border-radius: 10px;
          overflow: hidden;

          @media (max-width: 768px) {
            border-radius: 0;
          }

          &-leftSide {
            position: absolute;
            left: 46px;
            width: 228px;
            top: 20px;
            @media (min-width: 1100px) {
              top: 68px;
              left: 94px;
            }

            &-title {
              font-family: Gilroy, sans-serif;
              font-size: 44px;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              line-height: 0.86;
              letter-spacing: normal;
              color: $black;
            }

            &-subjectTo {
              @include BodyMeta;
            }

            &-addToCart {
              font-family: Gilroy, sans-serif;
              font-size: 16px;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.5;
              letter-spacing: normal;
              text-align: center;
              color: $black;
              width: 160px;
              height: 38px;
              border-radius: 10px;
              border: solid 1px $ff-918-b-main;
              display: none;

              &:hover {
                background: $ff-918-b-main;
                color: #fff;
              }

              @media (min-width: 769px) {
                display: block;
              }
            }
          }

          img {
            float: right;
            width: 100%;
            @media (min-width: 769px) and (max-width: 1099px) {
              height: 242px;
            }
            @media (min-width: 1100px) {
              height: 360px;
            }
          }

        }

        &-pagination {
          position: absolute;
          text-align: center;
          -webkit-transition: .3s opacity;
          -o-transition: .3s opacity;
          transition: .3s opacity;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          z-index: 10;
          left: 0;
          width: 100%;
          bottom: -33px;

          @media (max-width: 768px) {
            bottom: auto;
          }

          .swiper-pagination-bullet {
            margin: 0 10px;
            width: 8px;
            height: 8px;
            background-color: $light-grey-2;
            opacity: 1;

            @media (max-width: 1100px) {
              width: 6px;
              height: 6px;
              margin: 0 5px !important;
            }

            &-active {
              width: 12px;
              height: 12px;
              border: solid 2px $ff-918-b-main;
              background-color: $white;
              position: relative;
              top: 2px;

              @media (max-width: 1100px) {
                width: 10px;
                height: 10px;
              }

              &:focus {
                outline: none;
              }
            }

            &:focus {
              outline: none;
            }
          }
        }
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 32px;
      height: 32px;
      background-size: 32px 44px;
    }
  }
}

.popupCategories {
  display: none;
  text-align: left;
  margin: 40px 30px;

  &-ul {
    list-style-type: none;
    margin: 0;
    padding: 4px;

    li {
      margin-bottom: 20px;

      a {
        @include BodyBold-Body;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:first-child {
        @media (min-width: 992px) {
          display: none;
        }
      }
    }
  }
}

.tippy-tooltip {
  border-radius: 0.5rem;
}

@media (min-width: 1100px) {
  .js-product-card .product-card__image {
    width: 100%;
  }
}