.tingle-modal {
  padding-top: 0;
  backdrop-filter: none;
  background: rgba(0,0,0,.5);
  &-box {
    border-radius: 10px;
    box-shadow: 0 45px 22px -30px rgba(85, 85, 85, 0.32);
    margin: 0 auto;
    padding-bottom: 40px;
    top: 85px;
    width: 90%;
    @media (min-width: 768px) {
      width: 566px;
    }
    @media (max-width: 767px) {
      padding-top: 0;
      padding-bottom: 0;
      top: 15px;
    }

    &__content {
      padding: 20px 30px 42px;
      @media (max-width: 768px) {
        padding: 20px 30px 3px;
      }
    }

    &__footer {
      background-color: $white;
      padding: 20px 30px 42px 25px;
      text-align: center;

      @media (max-width: 768px) {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      .close-btn, .reg-btn, .enter-btn {
        border: 1px solid $ff-918-b-main;
        background-color: transparent;
        font-family: Gilroy, sans-serif;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: $black;
        width: 220px;
        height: 50px;
        border-radius: 10px;
        margin: 0 auto;
        &:hover {
          background: $ff-918-b-main;
          color: #fff;
        }
      }
    }
  }

  &__close {
    background-color: transparent;
    width: 24px;
    height: 24px;
    top: 105px;
    @media (min-width: 769px) {
      position: relative;
      left: 251px;
      top: 129px;
    }
    @media (max-width: 768px) {
      position: absolute;
      right: 5%;
      left: auto;
      margin-right: 20px;
      top: 35px;
    }

    &Icon {
      content: url("../../static/images/svg/iconset/ic-24-cross_grey.svg");
    }
  }

  .back-btn {
    width: 124px;
    height: 50px;
    background: transparent;
    border: 0;
    font-weight: bold;
    margin-right: 80px;
    background-image: url("../../static/images/svg/iconset/ic-32-ex.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 18px;
  }

  .modalPlaceholderImg,
  .modalPlaceholderImg-2,
  .modalPlaceholderImg-3 {
    width: 240px;
    height: 240px;
    margin: 50px auto 33px;

    @media (max-width: 768px) {
      margin: 0 auto 37px;
      width: 200px;
      height: 200px;
    }
  }

  .modalPlaceholderImg {
    content: url("../../static/images/svg/thanks.svg");
  }
  .modalPlaceholderImg-2 {
    content: url("../../static/images/svg/back.svg");
  }
  .modalPlaceholderImg-3 {
    content: url("../../static/images/svg/welcome.svg");
  }
}

.modalSelectCityContent {
  display: none;

  &-question {
    width: 125px;
    height: 56px;
    @include TitleH4-Sobsection;
  }

  &-answer {
    max-width: 197px;
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $black-50;
  }

  a {
    display: block;
    @include BodyBold-Body;
  }

  &-search {
    width: 100%;
    height: 44px;
    border-radius: 10px;
    padding: 4px 8px;
    border: solid 1px $pale-grey-two;
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $black-50;
    margin-top: 40px;
  }

  &-foundCities {
    display: none;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 4px;
      margin-top: 6px;

      li {
        @include BodyBody;
        margin-bottom: 10px;

        span {
          font-family: Gilroy, sans-serif;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: $black;
        }
      }
    }
  }

  &-piter {
    margin-top: 10px;
  }
}

.modalThanks, .modalForgottenPassword, .modalComeback, .successReg, .modalForgottenPasswordBegin, .mobWishList, .mobCartList, .modalCallLater {
  display: none;

  &-title {
    font-family: Gilroy, sans-serif;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: $black;
  }

  &-text {
    font-family: Gilroy, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: $black-50;

    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 1.75;
    }
  }
}

.modalForgottenPassword {
  max-width: 330px;
  margin: 0 auto 40px;

  @media (max-width: 768px) {
    margin: 0 auto;
  }
}

.modalThanks {
  max-width: 330px;
  margin: 0 auto;
}

.authRegOpen {
  .tingle-modal {
    &-box {
      &__content {
        padding: 70px 70px 42px;
        @media (max-width: 768px) {
          padding: 60px 30px 40px;
        }
      }
      &__footer {
        @media (max-width: 768px) {
          padding-bottom: 50px;
        }
        .enter-btn {
          @media (max-width: 768px) {
            margin-bottom: 47px;
          }
        }
      }
    }
  }

  .reg-btn {
    display: none;
  }
}

.modalAuthReg {
  padding-top: 0;
  display: none;
  &-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 768px) {
      margin-left: -10px;
      margin-right: -10px;
      align-items: flex-start;
    }
  }

  &-active {
    border-bottom: 3px solid $ff-918-b-main;
    font-family: Gilroy, sans-serif;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: $black;
    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  &-notActive {
    font-family: Gilroy, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.3);
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  &-span {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    @media (max-width: 768px) {
      display: none;
    }
  }

  &-regForm,
  &-authForm {
    margin-top: 45px;
  }

  &-regForm {
    display: flex;
    flex-wrap: wrap;
    &-personalData {
      &-wrapper {
        margin-bottom: 20px;
      }
    }
    .mdc-text-field:nth-child(2n) {
      margin-left: 13px;
      @media (max-width: 768px) {
        margin-left: 0;
      }
    }
    .mdc-text-field:nth-child(2n + 1) {
      margin-right: 13px;
      @media (max-width: 768px) {
        margin-right: 0;
      }
    }
    &-firstnameField.mdc-text-field,
    &-surnameField.mdc-text-field,
    &-emailField.mdc-text-field,
    &-passwordregField.mdc-text-field{
      margin-bottom: 40px;
      width: calc(50% - 13px);
      @media (max-width: 768px) {
        width: 100%;
      }

      input {
        padding-left: 0;
      }

      &:before, &:after {
        background-color: transparent;
      }
      .mdc-line-ripple{
        background-color: #77cbff;
      }
      @include mdc-line-ripple-color(#77cbff);
      &:not(.mdc-text-field--focused) {
        @include mdc-text-field-ink-color($black);
        @include mdc-text-field-label-color($black-50);
        @include mdc-text-field-caret-color($black);
        @include mdc-text-field-textarea-fill-color(transparent);
        @include mdc-text-field-textarea-stroke-color($bordurs);
        @include mdc-text-field-focused-outline-color(#77cbff);

      }

      &.mdc-text-field--focused {
        @include mdc-text-field-caret-color($black);
        @include mdc-text-field-textarea-fill-color($white);
        @include mdc-text-field-textarea-stroke-color(#77cbff);
        @include mdc-text-field-fill-color(#ffffff);
        @include mdc-text-field-bottom-line-color(blue);
        @include mdc-text-field-label-color($black-50);
        @include mdc-text-field-line-ripple-color(#77cbff);
      }

      .mdc-floating-label {
        left: 0;
      }
    }
  }

  &-authForm {
    &-loginField.mdc-text-field,
    &-passwordField.mdc-text-field{
      margin-bottom: 40px;
      width: 100%;

      input {
        padding-left: 0;
      }

      &:before, &:after {
        background-color: transparent;
      }
      .mdc-line-ripple{
        background-color: #77cbff;
      }
      @include mdc-line-ripple-color(#77cbff);
      &:not(.mdc-text-field--focused) {
        @include mdc-text-field-ink-color($black);
        @include mdc-text-field-label-color($black-50);
        @include mdc-text-field-caret-color($black);
        @include mdc-text-field-textarea-fill-color(transparent);
        @include mdc-text-field-textarea-stroke-color($bordurs);
        @include mdc-text-field-focused-outline-color(#77cbff);

      }

      &.mdc-text-field--focused {
        @include mdc-text-field-caret-color($black);
        @include mdc-text-field-textarea-fill-color($white);
        @include mdc-text-field-textarea-stroke-color(#77cbff);
        @include mdc-text-field-fill-color(#ffffff);
        @include mdc-text-field-bottom-line-color(blue);
        @include mdc-text-field-label-color($black-50);
        @include mdc-text-field-line-ripple-color(#77cbff);
      }

      .mdc-floating-label {
        left: 0;
      }
    }

  }

  &-regForm {
    display: none;
  }

  input[type=checkbox] {
    display: inline;
    margin-right: 10px;
  }

  label {
    display: inline;
    @include BodyMeta;
    padding-top: 2px;

    a {
      font-family: Gilroy, sans-serif;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      color: $fd-7169-main-text;
    }
  }

  .link-forgotPassword {
    float: right;
    font-size: 14px;
    font-weight: bold;
    color: #fd7169;
    @media (max-width: 768px) {
      position: absolute;
      left: 50%;
      bottom: 36px;
      transform: translateX(-50%);
    }
  }

  #showpass,
  #showpassreg {
    width: 24px;
    height: 24px;
    content: url('../../static/images/iconset/ic-24-eyes.png');
    position: absolute;
    right: 0;
    top: 20px;
    cursor: pointer;
  }
  
  #showpass.active,
  #showpassreg.active {
    content: url('../../static/images/iconset/ic-24-eyes-off.png');
  }
}

.modalForgottenBegin {
  .tingle-modal-box__content {
    padding: 70px 70px 0;
    @media (max-width: 768px) {
      padding: 60px 30px 0;
    }
  }
  .modalForgottenPasswordBegin {
    &-text {
      font-size: 28px;
      line-height: 1.25;
      font-weight: bold;
      text-align: center;
      color: #000;
    }
    &-emailField.mdc-text-field{
      margin-bottom: 200px;
      width: 100%;

      input {
        padding-left: 0;
      }

      &:before, &:after {
        background-color: transparent;
      }
      .mdc-line-ripple{
        background-color: #77cbff;
      }
      @include mdc-line-ripple-color(#77cbff);
      &:not(.mdc-text-field--focused) {
        @include mdc-text-field-ink-color($black);
        @include mdc-text-field-label-color($black-50);
        @include mdc-text-field-caret-color($black);
        @include mdc-text-field-textarea-fill-color(transparent);
        @include mdc-text-field-textarea-stroke-color($bordurs);
        @include mdc-text-field-focused-outline-color(#77cbff);

      }

      &.mdc-text-field--focused {
        @include mdc-text-field-caret-color($black);
        @include mdc-text-field-textarea-fill-color($white);
        @include mdc-text-field-textarea-stroke-color(#77cbff);
        @include mdc-text-field-fill-color(#ffffff);
        @include mdc-text-field-bottom-line-color(blue);
        @include mdc-text-field-label-color($black-50);
        @include mdc-text-field-line-ripple-color(#77cbff);
      }

      .mdc-floating-label {
        left: 0;
      }
    }
  }
  .tingle-modal-box__footer {
    padding: 70px;
    @media (max-width: 768px) {
      padding: 30px;
    }
  }
}

.modalCallMe .tingle-modal-box__content {
  padding: 70px 70px 40px;
  @media (max-width: 768px) {
    padding: 40px 20px;
  }
}

.modalCallLater {
  &-title {
    @media (max-width: 768px) {
      font-size: 20px;
      text-align: left;
    }
  }
  &-nameCallField.mdc-text-field,
  &-phoneCallField.mdc-text-field {
    width: 100%;
    margin-bottom: 40px;
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }

    input {
      padding-left: 0;
    }

    &:before, &:after {
      background-color: transparent;
    }
    .mdc-line-ripple{
      background-color: #77cbff;
    }
    @include mdc-line-ripple-color(#77cbff);
    &:not(.mdc-text-field--focused) {
      @include mdc-text-field-ink-color($black);
      @include mdc-text-field-label-color($black-50);
      @include mdc-text-field-caret-color($black);
      @include mdc-text-field-textarea-fill-color(transparent);
      @include mdc-text-field-textarea-stroke-color($bordurs);
      @include mdc-text-field-focused-outline-color(#77cbff);

    }

    &.mdc-text-field--focused {
      @include mdc-text-field-caret-color($black);
      @include mdc-text-field-textarea-fill-color($white);
      @include mdc-text-field-textarea-stroke-color(#77cbff);
      @include mdc-text-field-fill-color(#ffffff);
      @include mdc-text-field-bottom-line-color(blue);
      @include mdc-text-field-label-color($black-50);
      @include mdc-text-field-line-ripple-color(#77cbff);
    }

    .mdc-floating-label {
      left: 0;
    }
  }

  label {
    display: inline;
    @include BodyMeta;
    padding-top: 2px;

    a {
      font-family: Gilroy, sans-serif;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      color: $fd-7169-main-text;
    }
  }
}

/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #fac2ba;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #fd7169;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tingle-modal .mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mdc-text-field__input {
  border-bottom-color: rgba(85, 85, 85, 0.32);
  border-width: 2px;
}