.tingle-modal {
  &-box {
    border-radius: 10px;
    box-shadow: 0 45px 22px -30px rgba(85, 85, 85, 0.32);
    margin: 0 auto;
    padding-bottom: 40px;
    top: 85px;
    width: 90%;
    @media (min-width: 626px) {
      width: 566px;
    }
    @media (max-width: 540px) {
      padding-top: 0;
    }

    &__content {
      padding: 20px 30px 42px;
    }

    &__footer {
      background-color: $white;
      padding: 20px 30px 42px 25px;
      text-align: center;

      .close-btn, .reg-btn, .enter-btn {
        border: 1px solid $ff-918-b-main;
        background-color: transparent;
        font-family: Gilroy, sans-serif;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: $black;
        width: 240px;
        height: 50px;
        border-radius: 5px;
      }
    }
  }


  &__close {
    background-color: transparent;
    width: 24px;
    height: 24px;
    @media (min-width: 260px) and (max-width: 540px) {
      position: relative;
      left: 85%;
      top: 125px;
    }
    @media (min-width: 541px) and (max-width: 626px) {
      position: relative;
      left: 40%;
      top: 125px;
    }
    @media (min-width: 627px) {
      position: relative;
      left: 263px;
      top: 125px;
    }

    &Icon {
      content: url("../../static/images/svg/iconset/ic-24-cross_grey.svg");
    }
  }

  .modalPlaceholderImg {
    width: 200px;
    height: 200px;
    content: url("../../static/images/svg/thanks.svg");
    margin: 0 auto;
  }
}

.modalSelectCityContent {
  display: none;

  &-question {
    width: 125px;
    height: 56px;
    @include TitleH4-Sobsection;
  }

  &-answer {
    max-width: 197px;
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $black-50;
  }

  a {
    display: block;
    @include BodyBold-Body;
  }

  &-search {
    width: 100%;
    height: 44px;
    border-radius: 10px;
    padding: 4px 8px;
    border: solid 1px $pale-grey-two;
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $black-50;
    margin-top: 40px;
  }

  &-foundCities {
    display: none;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 4px;
      margin-top: 6px;

      li {
        @include BodyBody;
        margin-bottom: 10px;

        span {
          font-family: Gilroy, sans-serif;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: $black;
        }
      }
    }
  }

  &-piter {
    margin-top: 10px;
  }
}

.modalThanks, .modalForgottenPassword, .modalComeback, .successReg {
  display: none;

  &-title {
    font-family: Gilroy, sans-serif;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: $black;
  }

  &-text {
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: $black-50;
  }
}

.authRegOpen {
  .tingle-modal {
    &-box {
      top: 0;
    }

    &__close {
      top: 40px;
    }
  }

  .reg-btn {
    display: none;
  }
}

.modalAuthReg {
  padding-top: 18px;
  display: none;
  &-menu {
    margin: 0 -10px;
  }

  &-active {
    border-bottom: 3px solid $ff-918-b-main;
    font-family: Gilroy, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: $black;
  }

  &-notActive {
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.3);
  }

  span:nth-child(2) {
    float: right;
    margin-left: 20px;
  }

  &-regForm,
  &-authForm {
    margin-top: 45px;
  }

    input[type='text'],input[type='password'] {
      display: block;
      margin-bottom: 50px;
      border-bottom: 2px solid $bordurs;
      @include BodyBody;
      padding-bottom: 10px;
      width:100%;
      &::placeholder{
        font-family: Gilroy, sans-serif;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $black-50;
      }
    }
  &-authForm {
    &-loginField.mdc-text-field,
    &-passwordField.mdc-text-field{
      .mdc-line-ripple{
        background-color: #77cbff;
      }
      @include mdc-line-ripple-color(#77cbff);
      &:not(.mdc-text-field--focused) {
        @include mdc-text-field-ink-color($black);
        @include mdc-text-field-label-color($black-50);
        @include mdc-text-field-caret-color($black);
        @include mdc-text-field-textarea-fill-color(transparent);
        @include mdc-text-field-textarea-stroke-color($bordurs);
        @include mdc-text-field-focused-outline-color(#77cbff);

      }

      &.mdc-text-field--focused {
        @include mdc-text-field-caret-color($black);
        @include mdc-text-field-textarea-fill-color($white);
        @include mdc-text-field-textarea-stroke-color(#77cbff);
        @include mdc-text-field-fill-color(#ffffff);
        @include mdc-text-field-bottom-line-color(blue);
        @include mdc-text-field-label-color($black-50);
        @include mdc-text-field-line-ripple-color(#77cbff);
      }
    }
  }

  &-regForm {
    display: none;
  }

  input[type=checkbox] {
    display: inline;
    margin-right: 10px;
  }

  label {
    display: inline;
    @include BodyMeta;

    a {
      font-family: Gilroy, sans-serif;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      color: $fd-7169-main-text;
    }
  }
}
