input {
  border-width: 0;
}
textarea:focus, input:focus{
  outline: none;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
a:hover{
  text-decoration: none;
}

@media (min-width: 768px) {
  .only-mob {
    display: none!important;
  }
}

@media (max-width: 769px) {
  .only-desc {
    display: none!important;
  }
}