/* Color palette */
$fd-7169-main-text: #fd7169;
$press: #f57a73;
$black-50: rgba(0, 0, 0, 0.5);
$black: #000000;
$light-peach: #fac2ba;
$ff-918-b-main: #ff918b;
$ebb-8-b-5: #ebb8b5;
$bordurs: #e5e5ec;
$pale-grey: #f6f6fa;
$white: #ffffff;