/* commons */

@import "commons/variables";
@import "commons/mixins";
@import "commons/bootstrap-reboot";
@import "commons/functions";
@import "../../static/fonts/transfonter.org-20190822-111631/gilroy.css";
@import "~tippy.js/themes/light-border.css";
@import "~tippy.js/themes/light.css";
@import "~tingle.js/src/tingle.css";
@import "commons/common";
@import "elements/modal";
@import "@material/textfield/mdc-text-field";

/**header**/
@import "header";
/**template**/
@import "grid";
/**footer**/
@import "footer";

/**Главная**/
@import "pages/index/index";


/*@import "grid";

!**header & footer **!
!*@import "header";
@import "footer";*!

@import "sliders";

@import "index";

!*@import "catalog";*!*/

.content .swiper-button-next, .content .swiper-button-prev {
    width: 32px;
    height: 32px;
    background-size: 32px 44px;
}