/* commons */

@import "commons/variables";
@import "commons/mixins";
@import "commons/bootstrap-reboot";
@import "commons/functions";
@import "../../static/fonts/transfonter.org-20190822-111631/gilroy.css";
@import "commons/common";

/**header & footer **/
@import "header";
@import "footer";

@import "sliders";

@import "index";
/*

.container {
  display: grid;

  grid-template-areas:
          "header header header"
          "nav content side"
          "footer footer footer";

  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;

  height: 100vh;
}
header {
  grid-area: header;
}

nav {
  grid-area: nav;
  margin-left: 0.5rem;
}

main {
  grid-area: content;
}

aside {
  grid-area: side;
  margin-right: 0.5rem;
}

footer {
  grid-area: footer;
}
@media (max-width: 320px) {
  .container {
    grid-template-areas:
            "header"
            "content"
            "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
            auto !* Header *!
            1fr !* Content *!
            auto; !* Footer *!
  }

  nav, aside {
    margin: 0;
  }
}*/
