.footer {

  @media (min-width: 1100px) {
    display: grid;
    grid-template-areas: 'leftUp up rightUp' 'leftDown down rightDown';
    grid-template-columns: auto 1100px auto;
  }

  &-leftSpacerUp{
    grid-area: leftUp;
    background-color: rgba(39, 55, 74, 0.3);
  }
  &-rightSpacerUp{
    grid-area: rightUp;
    background-color: rgba(39, 55, 74, 0.3);
  }
  &-leftSpacerDown{
    grid-area: leftDown;
  }
  &-rightSpacerDown{
    grid-area: rightDown;
  }
  background-image: url('/static/images/svg/bg-oval.svg');
  overflow: hidden;
  margin-top: 50px;
  background-color: #0e141c;
  background-position: center;
  @media (max-width: 1000px) {
    background-image: none;
  }
  @media (max-width: 470px) {
    margin-top: 40px;
  }
  &-opacityFooter {
    background-color: rgba(39, 55, 74, 0.3);
    grid-area: up;
    &-shevron {
      height: 24px;
      width: 24px;
      display: inline-block;
      float: right;
      position: relative;
      top: 6px;
      @media (min-width: 769px) {
        display: none;
      }
    }

    &-bullet {
      background: url('/static/images/svg/iconset/ic-10-bullite.svg') no-repeat;
      width: 10px;
      height: 10px;
      display: inline-block;
      float: left;
      position: relative;
      top: 10px;
      margin-right: 9px;
    }

    &-shevron__down {
      background: url('/static/images/svg/iconset/ic-24-shevron-bottom.svg') no-repeat right;
      &.active {
        transform: rotate(180deg);
      }
    }

    &-link {
      font-family: 'Gilroy', sans-serif;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.4;
      letter-spacing: normal;
      color: $white!important;
    }

    padding: 63px 0px 25px 0px;
    display: grid;
    @media (min-width: 769px) {
      grid-template-areas: 'catalog clientInfo about' 'contactInfo contactInfo contactInfo';
      grid-template-rows: 342px 144px;

    }
    @media (min-width: 1000px) {
      grid-template-areas: 'catalog clientInfo about contactInfo';
      grid-template-rows: 1fr;
    }
    @media (max-width: 1000px) {
      padding: 33px 64px 25px 64px;
      grid-template-rows: auto auto;
      grid-column-gap: 50px;
    }
    @media (max-width: 768px) {
      grid-template-areas: 'contactInfo' 'catalog' 'clientInfo' 'about';
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;
      grid-row-gap: 30px;
      padding: 87px 14px 37px 14px;
    }

    ul {
      @media (max-width: 768px) {
        display: none;
      }
      list-style-type: none;
      margin-left: -40px;
      margin-top: 18px;

      @media (max-width: 1000px) {
        margin-top: 18px;
      }

      li {
        padding: 3px 0;
        a {
          font-family: 'Gilroy', sans-serif;
          font-size: 14px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: normal;
          color: rgba(255, 255, 255, 0.5);
          margin-bottom: 5px;
        }
      }
    }

    &-catalog {
      grid-area: catalog;
      @media (max-width: 1000px) {
        margin-bottom: 20px;
      }
      @media (max-width: 768px) {
        margin-bottom: 0;
      }
    }

    &-clientInfo {
      grid-area: clientInfo;
      margin-left: 50px;
      @media (max-width:1000px) {
        margin-left: 0;
      }
      @media (min-width:320px) and (max-width: 768px){
        margin-left:0;
      }
      @media (min-width: 1100px) {
        margin-left: 0;
      }
    }

    &-about {
      grid-area: about;
      @media (min-width: 1100px) {
        margin-left: 0;
      }
      margin-left: 50px;
      @media (max-width:1000px) {
        margin-left: 0;
      }
      @media (min-width:320px) and (max-width: 768px){
        margin-left:0;
      }
    }

    &-contactInfo {
      grid-area: contactInfo;
      @media (min-width: 624px) and (max-width: 768px) {
        display: grid;
        grid-template-areas: 'title title title' 'address phoneDetails callMe';
        grid-template-columns: 2fr 1fr 1fr;
        margin-left: 50px;
      }
      @media (min-width: 1000px) {
        display: grid;
        grid-template-areas: 'title title' 'phoneDetails callMe' 'address address';
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 50px 91px 50px 165px;
        margin-left: 0;
      }
      @media (min-width:768px) and (max-width: 1099px) {
        display: grid;
        grid-template-areas: 'title title title' 'address phoneDetails callMe ';
        grid-template-columns: 2fr minmax(148px,1fr) 2fr;
        grid-template-rows: 1fr 2fr;
        margin-left:50px;
      }
      @media (max-width: 1000px) {
        margin-left: 0;
        grid-template-columns: 2fr 1fr 1fr;
      }
      @media (max-width: 768px) {
        position: relative;
        padding-bottom: 9px;
      }
      &-title {
        grid-area: title;
        @media (max-width: 768px) {
          display: none;
        }
        font-family: 'Gilroy', sans-serif;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: $white;
      }

      &-phoneDetails {
        grid-area: phoneDetails;

        &-phone {
          font-family: 'Gilroy', sans-serif;
          font-size: 14px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: normal;
          color: $white;
          float: left;
          margin-bottom: 30px;

          &-timeWork {
            display: block;
            font-family: 'Gilroy', sans-serif;
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: normal;
            color: $white;
            margin-top: 10px;
            @media (max-width: 768px) {
              margin-top: 4px;
            }
          }
        }
      }


      .callMe {
        grid-area: callMe;
        font-family: 'Gilroy', sans-serif;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $fd-7169-main-text;
        cursor: pointer;
        @media (max-width: 768px) {
          float: right;
        }
        margin-right: 16px;
        position: relative;
        @media (max-width:  623px){
          position:absolute;
          top:-3px;
          left:160px;
        }
        top: -2px;
        margin:0;
        padding: 0;
      }

      .address {
        grid-area: address;
        font-family: 'Gilroy', sans-serif;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: $white;
        &-inner {
          margin-top: 10px;
          @media (max-width: 1000px) {
            width: 180px;
          }
          @media (max-width: 768px) {
            width: auto;
          }
        }
      }
    }
  }

  .subFooter {
    grid-area: down;
    overflow: hidden;
    padding: 51px 0 12px 0;
    @media (min-width: 769px) {
      display: grid;
      grid-template-areas: 'ss subscribe' 'payMethods payMethods';
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 134px 62px;
    }
    @media (min-width: 1000px) {
      grid-template-areas: 'subscribe ss payMethods' 'copyrights copyrights copyrights';
      grid-template-columns: 1fr;
      grid-template-rows: 134px;
      grid-column-gap: 90px;
      grid-row-gap: 76px;
    }
    @media (max-width: 1000px) {
      padding: 53px 64px 12px 64px;
      grid-template-areas: 'ss subscribe' 'payMethods payMethods' 'copyrights copyrights';
      grid-template-rows: 128px 84px 73px;
    }
    @media (max-width: 768px) {
      padding: 32px 14px 0px 14px;
    }
    &-ss {
      grid-area: ss;
      &-title {
        font-family: 'Gilroy', sans-serif;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: $white;
      }

      &-buttons {
        margin: 0;
        padding: 4px;
        list-style-type: none;

        @media (max-width: 1000px) {
          padding: 6px 0;
        }

        li {
          display: inline;
          margin-right: 10px;

          a {
            width: 42px;
            height: 42px;
            display: inline-block;
          }
        }

        &-vk {
          background-image: url('../../static/images/svg/iconset/ic-42-vk.svg');
        }

        &-fb {
          background-image: url('../../static/images/svg/iconset/ic-42-facebook.svg');
        }

        &-insta {
          background-image: url('../../static/images/svg/iconset/ic-42-instagram.svg');
        }
      }
    }

    &-subscribe {
      grid-area: subscribe;
      margin-top: 30px;
      @media (min-width: 769px) {
        margin-top: 0;
      }
      @media (max-width: 768px) {
        margin-top: 21px;
      }

      &-text {
        font-family: 'Gilroy', sans-serif;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: $white;
        width: 258px;
      }

      &-input {
        border-radius: 10px;
        border: solid 1px rgba(255, 255, 255, 0.5);
        background: transparent;
        padding-left: 20px;
        width: 100%;
        height: 44px;
        color: $white;
        margin-top: 25px;
        @media (min-width: 769px) {
          margin-top: 5px;
        }
        @media (max-width: 768px) {
          margin-top: 6px;
        }
      }

      &-input::placeholder {
        font-family: 'Gilroy', sans-serif;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        color: rgba(255, 255, 255, 0.5);
      }

      &-button {
        width: 56px;
        height: 44px;
        border-radius: 10px;
        background-color: $fd-7169-main-text;
        border: none;
        position: relative;
        top: -44px;
        left: 100%;
        margin-left: -56px;
        cursor: pointer;

        @media (max-width: 768px) {
          position: absolute;
          margin-top: 6px;
          top: auto;
          right: 14px;
          left: auto;
          margin-left: auto;
        }

        &-icon {
          background: url('../../static/images/svg/iconset/ic-24-next.svg');
          width: 24px;
          height: 24px;
          display: inline-block;
          position: relative;
          top: 4px;
        }
      }

      &-button:focus {
        outline: none;
      }
    }

    &-methodsPay {
      grid-area: payMethods;

      @media (max-width: 1000px) {
        display: flex;
        justify-content: space-between;
      }

      @media (max-width: 768px) {
        display: block;
      }

      &-title {
        font-family: 'Gilroy', sans-serif;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: $white;
        width:75px;

        @media (max-width: 1000px) {
          width: auto;
          margin-bottom: 0;
          padding-top: 12px;
        }

        @media (max-width: 768px) {
          width: 75px;
          padding-top: 30px;
          padding-bottom: 25px;
        }
      }

      &-list {
        @media (min-width: 769px) {
          float: right;
        }
        margin: 0;
        padding: 4px;
        list-style-type: none;

        li {
          display: inline-block;
          margin-bottom: 16px;
          margin-right: 18px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    &-copyrights {
      text-align: center;
      font-family: 'Gilroy', sans-serif;
      grid-area: copyrights;
      font-size: 13px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      color: $white;

      @media (max-width: 768px) {
        margin-top: 20px;
      }
    }
  }
}