.container {
  @media (min-width: 769px) {
    display: grid;
    grid-template-areas: "topMenu" "header" "slider" "content" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 80px 502.3px 242px 1fr 896px;

    .topMenu {
      grid-area: topMenu;
      background-color: $topMenu;
    }

    .header {
      grid-area: header;
    }

    .slider {
      grid-area: slider;
    }

    .content {
      grid-area: content;
      background-color: $white;
    }

    .footer {
      grid-area: footer;
      background-color: $bottom-footer;
    }
  }

  @media (min-width: 1100px) {
    display: grid;
    grid-template-areas: "topMenu topMenu topMenu" "header header header" "slider slider slider" "left content right" "footer footer footer";
    grid-template-columns: auto 1100px auto;
    grid-template-rows: 80px 590px 242px 1fr auto;

    &.container--catalog {
      grid-template-columns: auto 240px 1100px 240px auto;
      grid-template-rows: 80px 180px 95px 1fr auto;
      grid-template-areas: "topMenu topMenu topMenu topMenu topMenu" "header header header header header" "left breadcrumbs breadcrumbs breadcrumbs breadcrumbs" "left content content content right" "footer footer footer footer footer";

      .content {
        margin-top: 0;
      }

      .header {
        background: $ff-918-b-main;
      }
    }

    &.container--profile {
      grid-template-columns: auto 1100px auto;
      grid-template-rows: 80px 180px 95px 1fr auto;
      grid-template-areas: "topMenu topMenu topMenu" "header header header" "left breadcrumbs right" "left content right" "footer footer footer";

      .content {
        margin-top: 0;
      }

      .header {
        background: $ff-918-b-main;
      }
    }

    .breadcrumbs {
      grid-area: breadcrumbs;
    }

    .leftSpacer {
      grid-area: left;
    }

    .topMenu {
      grid-area: topMenu;
      background-color: $topMenu;
    }

    .header {
      grid-area: header;
    }

    .slider {
      grid-area: slider;
    }

    .content {
      grid-area: content;
      background-color: $white;
    }

    .footer {
      grid-area: footer;
      background-color: $bottom-footer;
    }

    .rightSpacer {
      grid-area: right;
    }
  }

  @media (max-width: 1700px) {
    &.container--catalog, &.container--profile {
      grid-template-columns: auto 1100px auto;
      grid-template-areas: "topMenu topMenu topMenu" "header header header" "left breadcrumbs breadcrumbs" "left content right" "footer footer footer";
    }
  }

  @media (max-width: 1100px) {
    grid-template-rows: 80px 540px 242px 1fr auto;

    &.container--catalog, &.container--profile {
      grid-template-rows: 80px 190px 100px 1fr auto;
      grid-template-areas: "topMenu " "header " "breadcrumbs " "content " "footer";
      grid-template-columns: auto;
    }
  }

  @media (max-width: 990px) {
    &.container--catalog, &.container--profile {
      grid-template-rows: 80px 140px 80px 1fr auto;
    }
  }

  @media (min-width: 478px) and (max-width: 768px) {
    display: grid;
    grid-template-areas: "header" "slider" "content" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 160px 320px 1fr 992px;

    &.container--catalog, &.container--profile {
      display: grid;
      grid-template-areas: "header" "content" "footer";
      grid-template-columns: 100%;
      grid-template-rows: 160px 1fr 992px;
    }

    .topMenu {
      display: none;
    }

    .header {
      grid-area: header;
      background-color: $ff-918-b-main;
    }

    .slider {
      grid-area: slider;
    }

    .content {
      grid-area: content;
      background-color: $white;
    }

    .footer {
      grid-area: footer;
      background-color: $bottom-footer;
    }
  }

  @media (max-width: 768px) {
    display: grid;
    grid-template-areas: "header" "slider" "content" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 164px auto 1fr auto;

    .topMenu {
      display: none;
    }

    .header {
      grid-area: header;
      background-color: $ff-918-b-main;
    }

    .slider {
      grid-area: slider;
      padding-bottom: 0px;
      box-shadow: none;
      background-color: transparent;
    }

    .content {
      grid-area: content;
      background-color: $white;
    }

    .footer {
      grid-area: footer;
      background-color: $bottom-footer;
    }

    &.container--catalog, &.container--profile {
      display: grid;
      grid-template-areas: "header" "content" "footer";
      grid-template-columns: 100%;
      grid-template-rows: 164px 1fr auto;
    }
  }

  .leftSpacer, .rightSpacer {
    @media (max-width: 1100px) {
      display: none;
    }
  }
}