.container {
  .mobileMenu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    overflow-y: scroll;
    height: 100%;

    &-wrapper {
      width: 100%;
      background-color: $black-50;
      @media (max-width: 768px) {
        &.fixed {
          position: fixed;
          height: 100vh;
        }
      }
    }

    &-nav {
      position: relative;
      width: 345px;
      background-color: $ff-918-b-main;
      padding-bottom: 70px;

      @media (max-width: 768px) {
        width: 300px;
        padding-bottom: 20px;
      }

      &-wrapper {
        &.hidden {
          @media (max-width: 768px) {
            padding-left: 50px;
          }
        }
      }

      &-closed {
        background-image: url("../../static/images/svg/iconset/ic-24-cross.svg");
        width: 24px;
        height: 24px;
        position: absolute;
        top: 14px;
        left: 14px;
        z-index: 21;

        @media (max-width: 768px) {
          top: 41px;
        }
      }

      &-location {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 15px;

        @media (max-width: 768px) {
          padding-top: 42px;
        }

        &-title {
          font-family: Gilroy, sans-serif;
          font-size: 14px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.71;
          letter-spacing: normal;
          color: $white;
          display: inline-block;
          float: left;
          margin-right: 10px;
        }

        &-el {
          font-family: Gilroy, sans-serif;
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.71;
          letter-spacing: normal;
          color: $white;
          background: url("../../static/images/svg/iconset/ic-10-chevron_white.svg") no-repeat center right;
          display: inline-block;
          max-width: 75px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-right: 15px;
        }
      }

      &-wishlist {
        position: absolute;
        top: 14px;
        right: 14px;
        background-image: url("../../static/images/svg/iconset/ic-24-heard.svg");
        width: 24px;
        height: 24px;

        @media (max-width: 768px) {
          top: 41px;
        }
      }

      &-avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: $white;
        background-image: url("../../static/images/svg/iconset/ic-80-avatar.svg");
        margin: 26px auto 20px;
      }

      &-username {
        font-family: Gilroy, sans-serif;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: $white;
        position: absolute;
        top: 192px;
        width: 100%;
        display: none;
      }

      &-login, &-reg {
        width: 190px;
        height: 38px;
        border-radius: 10px;
        border: none;
        font-family: Gilroy, sans-serif;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: $fd-7169-main-text;
        position: relative;
        margin: 0 auto 20px;
        display: block;
      }

      &-login {
        background-color: $white;
        font-size: 16px;
        line-height: 1.5;
      }

      &-reg {
        background-color: transparent;
        border: 1px solid $white;
        font-size: 14px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        text-align: center;
        color: $white;
        margin-bottom: 30px;
      }

      hr {
        position: relative;
        width: 50px;
        height: 1px;
        background-color: $white;
        border: 0;
        margin-left: 60px;
        margin-bottom: 30px;

        @media (max-width: 768px) {
          margin-bottom: 30px;
          margin-left: 40px;
        }

        &.last {
          display: none;
        }
      }

      &-firstPart, &-secondPart {
        list-style-type: none;
        margin: 0;
        padding: 0 60px;

        @media (max-width: 768px) {
          padding: 0 40px;
        }

        li {
          padding-bottom: 20px;

          a {
            font-family: Gilroy, sans-serif;
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: $white;

            &.active {
              font-weight: bold;

              &:before {
                content: '';
                width: 0;
                height: 0;
                border-top: 4px solid transparent;
                border-left: 6px solid #fff;
                border-bottom: 4px solid transparent;
                position: absolute;
                margin-left: -17px;
                margin-top: 8px;
              }
            }
          }
        }
      }

      &-secondPart {


        li {
          padding-bottom: 12px;

          a {
            font-size: 14px;
            line-height: 1.71;
          }
        }
      }

      &-logout {
        display: none;
      }
    }

    &[data-user-login='true'] {
      .mobileMenu-nav {
        &-login, &-reg {
          display: none;
        }

        &-firstPart {
          top: 250px;
        }

        &-secondPart {
          top: 288px;
        }

        hr {
          top: 264px;
        }

        hr.last {
          display: block;
          position: relative;
          top: 300px;
        }

        &-logout {
          display: block;
        }

        &-username {
          display: block;
        }

        &-logout {
          display: block;
          position: absolute;
          bottom: 30px;
          left: 40px;
          background-color: transparent;
          border: none;
          font-family: Gilroy, sans-serif;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: $white;
          padding: 0;
        }
      }

    }

    &-brandsMenu {
      display: none;
      position: relative;
      width: 300px;
      background-color: $ff-918-b-main;

      &-ABCD {
        display: grid;
        grid-template-areas: "line1" "line2" "line3" "line4" "line5" "line6" "line7" "ru";
        grid-template-rows: repeat(8, 70px) 1fr;
        min-height: 656px;
        background-color: $white;
        position: relative;
        left: 50px;
        padding-top: 40px;
        width: 250px;
        text-align: center;
        height: 100vh;

        &-line1 {
          grid-area: line1;
        }

        &-line2 {
          grid-area: line2;
        }

        &-line3 {
          grid-area: line3;
        }

        &-line4 {
          grid-area: line4;
        }

        &-line5 {
          grid-area: line5;
        }

        &-line6 {
          grid-area: line6;
        }

        &-line7 {
          grid-area: line7;
        }

        &-line1, &-line2, &-line3, &-line4, &-line5, &-line6, &-line7 {
          padding-left: 16px;
          margin: 0 auto;

          a {
            display: inline-block;
            width: 52px;
          }
        }

        a {
          font-family: Gilroy, sans-serif;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 3.94;
          letter-spacing: 22px;
          text-align: center;
          color: $black;

          &.Y {
            grid-area: y;
            padding-left: 18px;
          }

          &.Z {
            grid-area: z;
            padding-left: 18px;
          }

          &.ru {
            grid-area: ru;
            padding-left: 16px;
          }
        }

        &__ru {
          display: none;
        }
      }
    }
  }

  .topMenu {
    &-wrapper1100 {
      width: 100%;
      @media (min-width: 1100px) {
        width: 1100px;
        margin: 0 auto;

      }
    }

    padding: 29px 20px 0 14px;
    @media (min-width: 1100px) {
      padding-left: 0;
      padding-right: 0;
    }

    &-location {
      float: left;

      &-title {
        font-family: Gilroy, sans-serif;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        color: $black-50;

      }

      &-el {
        display: inline;
        @include BodyButton;
        background: url("../../static/images/svg/iconset/ic-10-chevron.svg") no-repeat center right;
        padding: 0 15px 0 10px;
        padding-right: 15px;
        cursor: pointer;
      }
    }

    &-menu {
      float: right;

      ul {
        list-style-type: none;
        padding-inline-start: 0;

        li {
          display: inline;
          margin-right: 30px;

          a {
            font-family: Gilroy, sans-serif;
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.71;
            letter-spacing: normal;
            color: $black-50;

            &:hover {
              @include BodyMeta;
            }
          }
        }

        li:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .header {
    padding: 32px 23px 27px 14px;

    @media (min-width: 769px) and (max-width: 1099px) {
      background: url("../../static/images/svg/header-bkg.svg") center -80px no-repeat;
      background-color: transparent;
    }
    @media (min-width: 1100px) {
      background: url("../../static/images/svg/header-bkg.svg") center -80px no-repeat;
      background-color: transparent;
      display: grid;
      grid-template-areas: "left center right";
      padding: 0;
    }

    @media (max-width: 1100px) {
      padding: 35px 14px 27px 14px;
    }

    &-leftSpacer {
      grid-area: left;
      display: none;
      @media (min-width: 1921px) {
        display: block;
        height: 132px;
        background-color: $ff-918-b-main;
      }
    }

    &-rightSpacer {
      grid-area: right;
      display: none;
      @media (min-width: 1921px) {
        display: block;
        height: 235px;
        background-color: $ff-918-b-main;
      }
    }

    &-wrapper1100 {
      grid-area: center;
      width: auto;
      position: relative;
      @media (min-width: 1100px) {
        padding: 32px 0 27px 0;
        width: 1100px;
        margin: 0 auto;
      }
    }

    &-mainMenu {
      margin-top: 8px;
      float: left;
      display: block;

      @media (max-width: 768px) {
        margin-top: 4px;
      }

      img.ic24_menu {
        width: 24px;
        height: 24px;
        object-fit: contain;
        cursor: pointer;
      }

      @media (min-width: 992px) {
        display: none;
      }
    }

    &-logo {
      float: left;
      display: block;
      position: absolute;
      left: 53%;
      margin-right: -50%;
      transform: translate(-50%, 0);
      margin-bottom: 24px;
      margin-top: -6px;

      .Icon48-Logo {
        width: 100%;
      }

      @media (max-width: 1100px) {
        width: 254px;
        left: 60%;
      }
      @media (max-width: 768px) {
        width: 180px;
        margin-top: -3px;
        left: 50%;
        top: 0;
      }
    }

    &-signUp {
      display: none;
      float: right;
      margin: 8px 0 0 23px;
      @media (min-width: 1100px) {
        display: block;
      }

      span {
        opacity: 0.7;
        font-family: Gilroy, sans-serif;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        color: $white;
        font-weight: normal;

        a {
          font-weight: bold;
          font-family: Gilroy, sans-serif;
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.71;
          letter-spacing: normal;
          color: $white;
        }
      }
    }

    &-icon {
      float: right;
      margin: 8px 0 0 23px;

      &.header-cart {
        margin: 8px 10px 0 23px;
        @media (max-width: 768px) {
          margin: 4px 10px 0 23px;
        }
      }

      img.ic24-cart, img.ic24-heart {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }

      .counter {
        width: 22px;
        height: 20px;
        border-radius: 13px;
        background-color: $white;
        position: relative;
        top: -35px;
        left: 12px;
        font-family: Gilroy, sans-serif;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $black;
        padding: 3px 5px;
      }
    }

    &-heart {
      @media (max-width: 768px) {
        display: none;
      }
    }

    &-search {
      display: block;
      margin-bottom: 27px;
      text-align: center;
      position: relative;
      @media (min-width: 769px) {
        margin-bottom: 0;
      }
      @media (max-width: 768px) {
        margin-top: 9px;
      }

      &-input {
        @media (min-width: 769px) {
          width: 30%;
          position: absolute;
          top: -54px;
          left: 37px;
        }
        @media (min-width: 1100px) {
          width: 340px;
          left: 0;
        }
        @media (max-width: 1100px) {
          width: 25%;
        }
        @media (max-width: 768px) {
          width: 100%;
        }
        width: 91.25%;
        height: 44px;
        border-radius: 10px;
        padding: 13px 0 12px 20px;
        background: url("../../static/images/svg/iconset/ic-24-search.svg") no-repeat scroll right 10px center $white-30;
        padding-left: 10px;
        font-family: Gilroy, sans-serif;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        color: $white-80;

        &::placeholder {
          color: $white-80;
          padding-top: 9px;
        }
      }

      &-icon {
        width: 44px;
        height: 44px;
        display: block;
        position: absolute;
        right: 24px;
        top: 0px;
      }
    }

    &-menu {
      display: none;
      margin-bottom: -1px;
      margin-top: -1px;

      ul {
        padding-inline-start: 0px;
        list-style-type: none;
        margin: 0;
        text-align: justify;
        height: 48px;
        margin-top: 9px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        li {
          display: inline-block;

          a {
            font-family: Gilroy, sans-serif;
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: rgba(255, 255, 255, 0.7);
          }
        }
      }

      @media (min-width: 992px) {
        display: block;
        height: 48px;
      }

    }


    &-brandsMenu {
      &-enBrands {
        display: flex;
      }

      &-ruBrands {
        display: none;
      }

      @media (max-width: 768px) {
        display: none;
      }

      @media (max-width: 1100px) {
        margin-top: 6px;
      }

      & > span {
        margin-bottom: -2px;
        display: block;
      }

      span, span a {
        font-family: Gilroy, sans-serif;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        color: $white;
      }

      ul {
        list-style-type: none;
        padding-inline-start: 0px;
        text-align: justify;
        margin-left: 9%;
        height: 25px;
        width: 91%;
        position: relative;
        top: -22px;
        justify-content: space-between;

        @media (max-width: 1100px) {
          margin-left: 110px;
          width: calc(100% - 110px);
          justify-content: space-between;
        }

        li {
          display: inline-block;
          position: relative;

          a {
            font-family: Gilroy, sans-serif;
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.71;
            position: relative;
            color: $white;
            padding: 0 5px;
          }
        }

        li:hover {
          background-color: #ebb8b5;
        }
      }
    }
  }

  .slider {
    padding-bottom: 30px;
    background-color: $light-grey;
    box-shadow: 0 31px 15px -20px rgba(202, 199, 199, 0.32);
    @media (min-width: 769px) {
      width: 740px;
      height: 242px;
      border-radius: 10px;
      box-shadow: 0 31px 15px -20px rgba(202, 199, 199, 0.32);
      background-color: $light-grey;
      position: absolute;
      top: 214px;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, 0);
    }
    @media (min-width: 992px) {
      top: 260px;
    }
    @media (min-width: 1100px) {
      width: 1100px;
      height: 360px;
    }

    &-top {
      padding-bottom: 45px;

      @media (max-width: 1100px) {
        padding-bottom: 40px;
      }
      @media (max-width: 768px) {
        height: 100%;
      }

      .swiper-slide {
        border-radius: 10px;
        overflow: hidden;

        @media (max-width: 768px) {
          box-shadow: 0 31px 15px -20px rgba(202, 199, 199, 0.32);
          border-radius: 0;
        }
      }

      &-item {
        &-leftSide {
          position: absolute;
          left: 46px;
          width: 228px;
          top: 20px;
          @media (min-width: 1100px) {
            top: 68px;
            left: 120px;
          }

          &-title {
            font-family: Gilroy, sans-serif;
            font-size: 44px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 0.86;
            letter-spacing: normal;
            color: $black;
          }

          &-subjectTo {
            @include BodyMeta;
          }

          &-addToCart {
            font-family: Gilroy, sans-serif;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            color: $black;
            width: 160px;
            height: 38px;
            border-radius: 10px;
            border: solid 1px $ff-918-b-main;
            display: none;

            &:hover {
              background: $ff-918-b-main;
              color: #fff;
            }

            @media (min-width: 769px) {
              display: block;
            }
          }
        }

        img {
          float: right;
          @media (min-width: 769px) and (max-width: 1099px) {
            height: 242px;
          }
          @media (min-width: 1100px) {
            height: 360px;
          }
          @media (max-width: 768px) {
            width: 100%;
          }
        }

      }

      &-pagination {
        position: absolute;
        text-align: center;
        -webkit-transition: .3s opacity;
        -o-transition: .3s opacity;
        transition: .3s opacity;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        z-index: 10;
        left: 0;
        width: 100%;
        bottom: -24px;
        @media (max-width: 768px) {
          bottom: 265px;
        }
        @media (max-width: 768px) {

        }

        .swiper-pagination-bullet {
          margin: 0 10px !important;
          width: 8px;
          height: 8px;
          background-color: $light-grey-2;
          opacity: 1;

          @media (max-width: 1100px) {
            width: 6px;
            height: 6px;
            margin: 0 5px !important;
          }

          &-active {
            width: 12px;
            height: 12px;
            border: solid 2px $ff-918-b-main;
            background-color: $white;
            position: relative;
            top: 2px;

            @media (max-width: 1100px) {
              width: 10px;
              height: 10px;
            }

            &:focus {
              outline: none;
            }
          }

          &:focus {
            outline: none;
          }
        }
      }

      &-prev {
        width: 50px;
        height: 50px;
        @media (max-width: 768px) {
          display: none;
        }
        @media (min-width: 769px) and (max-width: 1099px) {
          left: -13px;
        }
        left: 20px;
        border-radius: 50%;
        background-color: $white-80;
        background-image: url("../../static/images/svg/iconset/ic-32-ex.svg");
      }

      &-next {
        @media (max-width: 768px) {
          display: none;
        }
        @media (min-width: 769px) and (max-width: 1099px) {
          right: -13px;
        }
        width: 50px;
        height: 50px;
        right: 20px;
        border-radius: 50%;
        background-color: $white-80;
        background-image: url("../../static/images/svg/iconset/ic-32-next.svg");
      }
    }
  }
}

.hlw {
  width: 500px;
  right: 0;
  position: absolute;
  z-index: 5;
  padding-top: 30px;
  top: 60px;
  opacity: 0;
  visibility: hidden;
  transition: .3s all ease-out;
  display: block;
  transform: translateY(10px);

  &__wrapper {
    box-shadow: 0 45px 22px -30px rgba(202, 199, 199, 0.32);
    border: solid 2px #f2f2f2;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 30px 40px;

    &:before {
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 14px solid #fff;
      content: '';
      z-index: 1;
      position: absolute;
      top: 18px;
      right: 60px;
    }
  }

  &__row {
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #e5e5ec;
    position: relative;
    @media (max-width: 768px) {
      display: block;
      padding-bottom: 40px;
      padding-top: 40px;
    }
  }

  &__img {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    margin-right: 20px;
    @media (max-width: 768px) {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    &__title {
      font-size: 14px;
      padding-right: 50px;
      @media (max-width: 768px) {
        padding-right: 0;
        padding-top: 10px;
      }
    }

    &__bot {
      display: flex;
      align-items: center;
      margin-top: 20px;

      &__price {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
        margin-right: 20px;
        @media (max-width: 768px) {
          margin-bottom: 15px;
        }
      }

      &__oldprice {
        font-size: 16px;
        color: rgba(0, 0, 0, .5);
        text-decoration: line-through;
        margin: 0;
        @media (max-width: 768px) {
          margin-top: 15px;
          position: absolute;
        }
      }

      &__tocart {
        width: 120px;
        height: 34px;
        border: 1px solid #fd7169;
        border-radius: 10px;
        font-size: 16px;
        font-weight: bold;
        background: transparent;
        margin-left: auto;

        &:hover {
          background: $ff-918-b-main;
          color: #fff;
        }

        @media (max-width: 768px) {
          margin-right: 35px;
        }
      }
    }
  }

  &__close {
    width: 24px;
    height: 24px;
    content: url('../../static/images/svg/iconset/ic-24-cross_red.svg');
    position: absolute;
    cursor: pointer;
    right: 0;
    left: auto;
    @media (max-width: 768px) {
      bottom: 47px;
    }
  }

  &__towish {
    width: 240px;
    height: 50px;
    background: #ff918b;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 0;
    border-radius: 10px;
    @media (max-width: 768px) {
      max-width: 240px;
      width: 100%;
    }
  }

  &__counter {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 50px;

    &__btn {
      background: transparent;
      color: #f57a73;
      font-size: 23px;
      border: 0;
    }

    input {
      width: 20px;
      border: 0;
      background: transparent;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }
  }
}

.header-heart:hover + .hlw,
.hlw:hover {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.hlc {
  width: 500px;
  right: 0;
  position: absolute;
  z-index: 5;
  padding-top: 30px;
  top: 60px;
  opacity: 0;
  visibility: hidden;
  transition: .3s all ease-out;
  display: block;
  transform: translateY(10px);

  &__wrapper {
    box-shadow: 0 45px 22px -30px rgba(202, 199, 199, 0.32);
    border: solid 2px #f2f2f2;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 30px 40px;

    &:before {
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 14px solid #fff;
      content: '';
      z-index: 1;
      position: absolute;
      top: 18px;
      right: 15px;
    }
  }

  &__row {
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #e5e5ec;
    position: relative;
  }

  &__img {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    margin-right: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    &__title {
      font-size: 14px;
      padding-right: 50px;
    }

    &__bot {
      display: flex;
      align-items: center;
      margin-top: 20px;
      padding-right: 50px;

      &__price {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
        margin-right: 20px;
      }

      &__oldprice {
        font-size: 16px;
        color: rgba(0, 0, 0, .5);
        text-decoration: line-through;
        margin: 0;
      }
    }
  }

  &__counter {
    display: flex;
    align-items: center;
    margin-left: auto;

    &__btn {
      background: transparent;
      color: #f57a73;
      font-size: 23px;
      border: 0;
    }

    input {
      width: 20px;
      border: 0;
      background: transparent;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }
  }

  &__close {
    width: 24px;
    height: 24px;
    content: url('../../static/images/svg/iconset/ic-24-cross_red.svg');
    position: absolute;
    cursor: pointer;
    right: 0;
    left: auto;
    top: 35%;
  }

  &__result {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 20px;

    &__text {
      margin: 0;
      font-size: 16px;
      margin-right: auto;
      line-height: 27px;
    }

    &__oldprice {
      margin: 0;
      color: rgba(0, 0, 0, .5);
      text-decoration: line-through;
      font-size: 16px;
      line-height: 27px;
    }

    &__price {
      margin: 0;
      font-size: 20px;
      font-weight: bold;
      margin-left: 20px;
    }
  }

  &__tocart {
    width: 240px;
    height: 50px;
    background: #ff918b;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 0;
    border-radius: 10px;

    &:hover {
      background: $ff-918-b-main;
      color: #fff;
    }
  }
}

.header-cart:hover + .hlc,
.hlc:hover {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


.container .header-menu .hsml {
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 125px;
  opacity: 0;
  visibility: hidden;
  transition: .3s all ease-out;
  display: block;
  transform: translateY(10px);
  padding-top: 20px;

  &__wrapper {
    box-shadow: 0 45px 22px -30px rgba(202, 199, 199, 0.32);
    border: solid 2px #f2f2f2;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 30px 40px 16px;
    display: flex;
    justify-content: space-between;

    &:before {
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 14px solid #fff;
      content: '';
      z-index: 1;
      position: absolute;
      top: 8px;
    }

    a {
      color: #000;
    }
  }

  &__col {
    min-width: 13%;

    ul {
      display: block;
      height: auto;
      margin-top: 0;

      li {
        display: block;
        margin-bottom: 7px;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          font-weight: bold;
          font-size: 16px;
          padding: 6px 14px;
          display: block;
          text-align: left;

          &:hover {
            background: rgba(250, 194, 186, 0.3);
            border-radius: 10px;
            color: #fd7169;
          }

          &.hsml__space {
            margin-bottom: 50px;
          }

          &.hsml__regular {
            font-weight: normal;
          }
        }
      }
    }
  }

  &__ban {
    display: flex;

    &__img {
      margin-left: 30px;
    }
  }
}


.container .header-menu .link-sub-menu:hover + .hsml,
.container .header-menu .hsml:hover {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


.container .mobileMenu .hsml {
  width: 345px;
  position: absolute;
  z-index: 1;
  left: 345px;
  right: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: .3s all ease-out;
  display: block;
  padding-top: 0;
  height: 1055px;
  @media (max-width: 768px) {
    width: 250px;
    left: 50px;
    display: none;
  }

  &.active {
    opacity: 1;
    visibility: visible;
    display: block;
    height: 100vh;
    overflow: auto;
  }

  &__wrapper {
    background-color: #fff;
    padding: 60px 46px;
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    @media (max-width: 768px) {
      padding: 60px 0 0;
      position: relative;
    }

    a {
      color: #000;
    }
  }

  &__col {
    width: 100%;

    &:first-child {
      margin-bottom: 72px;

      &:after {
        content: '';
        height: 1px;
        position: absolute;
        width: 50px;
        background: rgba(0, 0, 0, .5);
        margin-top: 21px;
        margin-left: 14px;
      }
    }

    &:last-child {
      margin-top: 140px;
      @media (max-width: 768px) {
        margin-top: 40px;
        padding: 0 16px;
      }
    }

    ul {
      display: block;
      height: auto;
      margin-top: 0;
      padding-left: 0;

      li {
        display: block;
        margin-bottom: 7px;
        padding-bottom: 0;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          font-weight: bold;
          font-size: 16px;
          padding: 6px 14px;
          display: block;

          &:hover {
            background: rgba(250, 194, 186, 0.3);
            border-radius: 10px;
            color: #fd7169;
          }

          &.hsml__space {
            margin-bottom: 19px;
          }

          &.hsml__regular {
            font-weight: normal;
          }
        }
      }
    }
  }

  &__ban {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      display: block;
      overflow: hidden;
    }

    &__img {
      width: 120px;
      height: 120px;
      @media (max-width: 768px) {
        width: 100%;
        height: 100%;
        display: block;
        margin-bottom: 40px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}