main section.content {
  margin-top: 20px;
  padding-left: 14px;

  .categoriesTizers {
    &-item {
      width: 138px;
      height: 160px;
      border-radius: 9px;
      border: solid 1px #dedfe5;

      &-title {
        font-family: Gilroy;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: $black;
        padding-top: 13px;
      }

      &-quantity {
        font-family: Gilroy;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: normal;
        text-align: center;
        color: $black-50;
        position: absolute;
        bottom: 0px;
        width: 100%;
      }

      img {
        display: block;
        margin: 20px 44px 0 44px;
      }
    }
  }

  h2 {
    @include TitleH2-Title;
    margin-top: 20px;
  }

  .newProducts__title {
    margin-top: 30px;
  }

  .needTake__title {
    margin-top: 41px;
  }

  .lastStock__title {
    margin-top: 40px;
    width: 189px;
  }

  .forYou__title {
    margin-top: 40px;
  }

  .newProducts, .needTake, .forYou {
    &-item {
      width: 200px;

      &-lineLikes {
        text-align: left;

        &-stars {
          display: inline;
          cursor: pointer;
        }

        &-quantity {
          @include BodyMeta12;
          display: inline;
        }
      }

      &-img {
        background-image: url("../../static/images/placeholders/51a0a9ef467a64565ea63a6f112703ba.jpg");
        width: 200px;
        height: 200px;
        padding-top: 8.3px;
        display: block;

        &-badge {
          width: 50px;
          height: 25px;
          border-radius: 0 100px 100px 0;
          background-color: $light-peach;
          float: left;
          position: absolute;
          font-family: Gilroy;
          font-size: 11.7px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.06;
          letter-spacing: normal;
          text-align: center;
          color: $white;;
        }

        &-addWishlist {
          float: right;
          margin-right: 8.3px;
          margin-top: 2px;

        }
      }

      &-title {
        font-family: Gilroy;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: $black;
        text-align: left;
        width: 200px;
      }

      &-prices {
        &-right {
          float: right;
          position: relative;
          top: -10px;
        }

        &-retail, &-wholesale, &-discover {
          &-title {
            font-family: Gilroy;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.71;
            letter-spacing: normal;
            color: $black-50;
            float: left;
          }

          &-price {
            font-family: Gilroy;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: right;
            color: $black;
            margin-bottom: 0;
          }

          &-condition {
            font-family: Gilroy;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.17;
            letter-spacing: normal;
            text-align: right;
            color: $black-50;
          }

          clear: both;
          width: 200px;
          height: 38px;
          display: block;
        }

        &-discover-price {
          color: $fd-7169-main-text;
        }
      }
    }

    button {
      width: 160px;
      height: 38px;
      border-radius: 10px;
      border: solid 1px $ff-918-b-main;
      font-family: Gilroy;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: $black;
      background-color: $white;
      margin-left: 34px;
    }
  }

  .stockTizers {
    margin-top: 40px;
    margin-left: -14px;

    &-item {
      width: 300px;
      height: 200px;
      border-radius: 10px;
      background-color: #b8e2e0;
      padding-left: 22px;

      &__gray {
        background-color: #f5f6f8;
      }

      &-h2 {
        font-family: Gilroy;
        font-size: 28px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.89;
        letter-spacing: normal;
        color: $black;
        width: 138px;
        position: absolute;
        top: 35px;
      }

      &-h3 {
        font-family: Gilroy;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: $black;
        width: 150px;
        position: absolute;
        top: 93px;
      }

      img {
        position: absolute;
        bottom: 0;
        right: 0;
        /**TODO Хак**/
        width: 150px;
      }
    }

  }

  .lastStock {
    margin-top: 30px;

    &-item {

      &-img {
        width: 239px;
        height: 120px;
        border-radius: 10px;
        background-color: #fdd42d;
        text-align: center;

        &__lightBlue {
          background-color: #b8e2e0;
        }

        img {
          /**TODO хак**/
          height: 120px;
        }
      }

      &-date {
        margin-top: 10px;
        font-family: Gilroy;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: 0.2px;
        color: $black-50;
      }

      &-title {
        @include BodyBold-Body;
      }
    }
  }

  .brands {
    &.line2{
      margin-top: 10px;
    }
    &-item {
      img {
        width: 127px;
        height: 62px;
      }
    }
  }
}
