@font-face {
    font-family: 'Gilroy';
    src: url('subset-Gilroy-UltraLightItalic.woff2') format('woff2'),
        url('subset-Gilroy-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('subset-Gilroy-Medium.woff2') format('woff2'),
        url('subset-Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('subset-Gilroy-LightItalic.woff2') format('woff2'),
        url('subset-Gilroy-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('subset-Gilroy-UltraLight.woff2') format('woff2'),
        url('subset-Gilroy-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('subset-Gilroy-MediumItalic.woff2') format('woff2'),
        url('subset-Gilroy-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('subset-Gilroy-BoldItalic.woff2') format('woff2'),
        url('subset-Gilroy-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('subset-Gilroy-Bold.woff2') format('woff2'),
        url('subset-Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('subset-Gilroy-Heavy.woff2') format('woff2'),
        url('subset-Gilroy-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('subset-Gilroy-ThinItalic.woff2') format('woff2'),
        url('subset-Gilroy-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('subset-Gilroy-SemiboldItalic.woff2') format('woff2'),
        url('subset-Gilroy-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('subset-Gilroy-Regular.woff2') format('woff2'),
        url('subset-Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('subset-Gilroy-Black.woff2') format('woff2'),
        url('subset-Gilroy-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('subset-Gilroy-Thin.woff2') format('woff2'),
        url('subset-Gilroy-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('subset-Gilroy-Light.woff2') format('woff2'),
        url('subset-Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('subset-Gilroy-BlackItalic.woff2') format('woff2'),
        url('subset-Gilroy-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('subset-Gilroy-RegularItalic.woff2') format('woff2'),
        url('subset-Gilroy-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('subset-Gilroy-HeavyItalic.woff2') format('woff2'),
        url('subset-Gilroy-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('subset-Gilroy-Semibold.woff2') format('woff2'),
        url('subset-Gilroy-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('subset-Gilroy-Extrabold.woff2') format('woff2'),
        url('subset-Gilroy-Extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('subset-Gilroy-ExtraboldItalic.woff2') format('woff2'),
        url('subset-Gilroy-ExtraboldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

